* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 100%;
  pointer-events: none;

  margin-bottom: 20px;
}

.nickname {
  margin-bottom: 5px;
  color: white;
}

.status {
  color: #9e9689;

  margin-bottom: 20px;
}

.button {
  text-decoration: none;

  cursor: pointer;

  background-color: #202224;
  color: #a8a195;

  padding: 8px 7px;
  margin: 3px;

  box-shadow: 5px 5px black;

  transition: .2s ease;
}

.button:hover {
  background-color: #2e3235;
}